services:

  postgres:
    image: postgres:16
    container_name: nvg8-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: nvg8db
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: devpass
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: nvg8-backend
    restart: unless-stopped
    depends_on:
      - postgres
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/nvg8db
      SPRING_DATASOURCE_USERNAME: dev
      SPRING_DATASOURCE_PASSWORD: devpass
      SPRING_JPA_HIBERNATE_DDL_AUTO: update

      APP_DEV_MODE: "false"
      CORS_ALLOWED_ORIGINS: "https://nvg8.witchplease.de"
    ports:
      - "127.0.0.1:8080:8080"

  frontend:
    build: ./frontend
    container_name: nvg8-frontend
    restart: unless-stopped
    depends_on:
      - backend
    ports:
      - "127.0.0.1:3000:3000"

volumes:
  postgres_data:
